<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>comments</title>
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
<h1>comments</h1>

<ul>
	<li>
		<a href="/">index</a>
	</li>
	<li>
		<a href="first">first</a>
	</li>
	<li>
		<a href="second">second</a>
	</li>
	<li>
		<a href="comments">comments</a>
	</li>
</ul>

<form id="comment-form">
	<input type="text" id="entry" name="content">
	<label for="entry">Введите свой комментарий</label>
	<button type="submit">Send</button>
</form>

<div id="container"></div>
<div class="output"></div>

<script src="../scripts/index.js"></script>
</body>
</html>